<footer class="site-footer">
  <p>
    <span>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="icon"><img src="/assets/images/rss-icon.png"></img></span><span class="username"> RSS Feed</span></a>
    </span>

    <span>
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}
    </span>
<!--
    <span>
      {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      {% endif %}
    </span>
-->
  </p>
</footer>
